#divNav{
    background-color:rgb(79, 79, 79);
    width: 100%;
    position: absolute;
}
#navbarNav{
    padding-left:30%;
}
.nav-item{
    
    padding-right: 12px;
    color: white;
}
body{
    background-color:rgb(79, 79, 79);
}
b:hover{
    color:#FFB9B9;
}
#myPic{
    height:35vw;
    width: 20vw;
    border: dashed 6px #FFB9B9;
    margin-left: 10%;  
}
#textDiv{
    position: relative;
    float: right;
    padding-right:25vw ;
    padding-top:10vw ;
}
h1{
    text-align: start;
    color: white;
    font-family: 'Brush Script MT', cursive;
}
b,p{
    color: white;
    font-size: large;
    font-family: 'Brush Script MT', cursive;
}
#idBottom{
    border: solid 4px #749F82;
    border-radius: 15px;
    background-color: #749F82;
    color: white;
    width: 300px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    right: 25vw;
    bottom: -5vw;
}
#qouts{
    position: absolute;
    right: 25vw;
    bottom: -3vw;
    color: white;
}
.container{
    margin-top: 4vw;
    background-color: #FFB9B9;
    height: 2vw;
    border-radius: 15px;
    
}
.SecTitle{
    color: rgb(79, 79, 79);
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 5vw;}
    
.Objective ,.Projects {
    margin:4vw auto;
    height:28vw;
    width:57%;
    background-image: url(frame.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
#ObjItem {
    margin: 50px auto;
    padding-top: 73px;
    padding-left: 20px;
    width:50% ;
}
.projectsText{
    margin: 50px auto;
    padding-top: 73px;
    padding-left: 157px;
    

}
.Education{
     position: relative;
}
#eduImg{
    margin: 5vw  12vw;
    height:18vw;
    width:16vw;
    border: solid 4px #FFB9B9;
}
.eduText{
    position: absolute;
    top:6vw;
    display: inline-block;
}
h2{
    color: white;
    font-family: 'Brush Script MT', cursive;
}
h3 , h5{
    color: #FFB9B9;
    font-family: 'Brush Script MT', cursive;
}
h4{
    color: #FFB9B9;
    font-family: 'Brush Script MT', cursive;
}
#sociaEdu1{
    position: absolute;
    left:25vw;
}
#sociaEdu2{
    position: absolute;
    left:22vw;
}
.sociaEdu:hover{
       font-size:x-large;
       color: white;
}
.sociaEdu{
    color: #FFB9B9;
    font-size:40px;
}
.Experience{
    position: relative;
}
#ExpImg{
    margin: 5vw  8vw;
    height:20vw;
    width:23vw;
    border: solid 4px #FFB9B9;
}
.ExpText{
    position: absolute;
    top:6vw;
    display: inline-block;
}
#sociaEdu3{
    position: absolute;
    left:50vw;
}

.ProjectName{
    font-size: larger;
    color: white;
    font-family: 'Brush Script MT', cursive;
}
.Certificates{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2vw;
    justify-content: center;
    margin-top:2vw;
    margin-bottom: 2vw;
}
.References{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2vw;
    justify-content: center;
    margin-top:2vw;
    margin-bottom: 2vw;
}
.CertificatesImage , .ReferencesImage{
    height: 150px;
    width: 200px;
    border-radius: 15px;
}
.CertificatesItems , .ReferencesItems{
    height: 220px;
    border:solid 5px #FFB9B9;
    border-radius: 15px;
    background-color: #FFB9B9;
}
.Skills{
    display: grid;
    grid-template-columns: auto auto;
    grid-row: 10px;
    justify-content: center;
    margin-top: 15px;
}
.SkillsItems{
    width:170px;
    background-color: #FFB9B9;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
    margin-right: 20px;
}
.checked {
    color: #FFB9B9;
  }
.language{
    margin-top: 15px;
    margin-left: 300px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: stretch;
    margin-bottom: 15px;
  }

#footer{
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-content: space-around;
    grid-column: auto;
    width: 100%;
    border:solid 5px #FFB9B9;
}
a{
    text-decoration: none;
}
.itemFooter{
    margin-top: 2vw;
}
@media only screen and (min-device-width:481px)and (max-device-width:768px){
    
    h1{
        font-size: larger;
    }
    h2{
        font-size: large;
    }
    h3{
        font-size: small;
    }
    h4 {
        font-size:smaller ;
    }
    h5,i{
        font-size: x-small;
    }
    p{
        font-size: xx-small;
    }
    #textDiv{
        padding-right:30vw ;
        padding-top:5vw ;
    }
    #myPic{
        height:30vw;
        width: 17w; 
    }
    #idBottom{
        width: 90px;
        font-size:x-small;
        right: 25vw;
        bottom: -8vw;}
    
    .SecTitle{
        font-size: 12px;
        font-weight: bold;
    }
    .Objective ,.Projects {
        margin:4vw 25%;
        height:200px;
        background-size: contain;
    }
    #ObjItem , .projectsText{
        width: 50%;
        padding-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    #eduImg{
        height:180px;
        width:14vw;
    }
    .eduText{
        position: absolute;
        top:6vw;
        height: 200px;
    }
    .References , .Certificates{
        display: grid;
        grid-template-columns: auto auto ;}
    .CertificatesItems , .ReferencesItems{
        height: 175px;
        margin-top: 5px;
    }
    li , ul{
        font-size: xx-small;
    }
    #container{
        height: 3vw;
        
        
    }
}
@media only screen and (min-device-width:0)and (max-device-width:480px){
    h1{
        font-size: 15px;
    }
    h2{
        font-size: 13px;
    }
    h3{
        font-size: 12px;
    }
    h4 {
        font-size:11px ;
    }
    h5,i{
        font-size: 9px;
    }
    p{
        font-size: 7px;
    }
    .References , .Certificates{
        display: grid;
        grid-template-columns: auto;
        row-gap: 5px;
    }
    #footer{
        display: grid;
        grid-template-columns: auto;
        row-gap: 5px;
        justify-content: space-around;
    }
    #textDiv{
            padding-right:6px ;
    }
    #qouts{
        right: 5px;
        bottom: 3px;
        color: white;
    }  
    #idBottom{
        width: 70px;
        font-size:7px;
        right: 35vw;
        bottom: -4vw;
    }
    .SecTitle{
        font-size: 12px;
        font-weight: bold;
    } 
    #container{
        height: 5vw;
    }
    #ObjItem , .projectsText{
        width: 64%;
        padding-top:29px;
        padding-left: 0px;
        padding-right: 2px;
        padding-bottom: 0px;
        margin-top: 4vw;
        height: 45vw;
    }
    .Objective ,.Projects {
        height:160px;
        width: 96%;
        background-size: contain;
    }
    .CertificatesItems , .ReferencesItems{
        height: 170px;
    }
    .eduText{
        position: absolute;
        top:6vw;
        height: 100px;
    }
    .Education{
        height: 200px;
    }
    .Experience{
        height: 120px;
    }
    li , ul{
        font-size: 7px;
    }
    .Skills{
        grid-template-columns: auto;
        
    }

}