#Fixnav{
    background-color:rgb(79, 79, 79); 
    position: fixed;
    padding-top: 100px;
}
#navbarNav{
    padding-left:30%;
    background-color: rgb(79, 79, 79);
}
#logoImg{
    width: 100px;
    height: 100px;
}
.nav-item{
    padding-right: 12px;
    color: white;
}
body{
    background-color:rgb(79, 79, 79);
}
b:hover{
    color: #FFB9B9;
    background-color: rgb(79, 79, 79);
}
#myPic{
    height:35vw;
    width: 20vw;
    border: dashed 6px #FFB9B9;
    margin-left: 10%;  
    margin-top: 130px;
}
#textDiv{
    position: relative;
    float: right;
    padding-right:25vw ;
    padding-top:150px ;
}
h1{
    text-align: start;
    color: white;
    font-family: 'Brush Script MT', cursive;
}
b,p{
    color: white;
    font-size: large;
    font-family: 'Brush Script MT', cursive;
}
#idBottom{
    border: solid 4px #749F82;
    border-radius: 15px;
    background-color: #749F82;
    color: white;
    width: 300px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    right: 25vw;
    bottom: -9vw;
}
.container{
    margin-top: 2vw;
    background-color: #FFB9B9;
    height: 3vw;
    border-radius: 15px;
    
}
.SecTitle{
    color: rgb(79, 79, 79);
    font-size: 27px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 5vw;}
    
.Objective ,.Projects {
    margin:4vw auto;
    height:28vw;
    width:57%;
    background-image: url(frame.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
#ObjItem {
    margin: 50px auto;
    padding-top: 73px;
    padding-left: 20px;
    width:50% ;
}
.projectsText{
    margin: 50px auto;
    padding-top: 73px;
    padding-left: 157px;
    

}
.Education{
     position: relative;
}
#eduImg{
    margin: 5vw  12vw;
    height:16vw;
    width:14vw;
    border: solid 4px #FFB9B9;
}
.eduText{
    position: absolute;
    top:6vw;
    display: inline-block;
}
h2{
    color: white;
    font-family: 'Brush Script MT', cursive;
}
h3 , h5{
    color: #FFB9B9;
    font-family: 'Brush Script MT', cursive;
}
h4{
    color: #FFB9B9;
    font-family: 'Brush Script MT', cursive;
}

.Experience{
    position: relative;
}
#ExpImg{
    margin: 5vw  8vw;
    height:17vw;
    width:22vw;
    border: solid 4px #FFB9B9;
}
.ExpText{
    position: absolute;
    top:6vw;
    display: inline-block;
}
.ProjectName{
    font-size: larger;
    color: white;
    font-family: 'Brush Script MT', cursive;
}
.Certificates{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 6vw;
    justify-content: center;
    margin-top:8vw;
    margin-bottom: 8vw;
}
.References{
    display: grid;
    grid-template-columns: auto auto auto ;
    column-gap: 8vw;
    justify-content: center;
    margin: 8vw auto;

}
.RefIcon{
    color: rgb(79, 79, 79);
    font-size:27px;
    float: right;
    margin-right: 34px;
    margin-top: -22px;
}
.CertificatesImage{
    height: 150px;
    width: 200px;
    border-radius: 15px;
}
.ReferencesImage{
    height: 193px;
    width: 305px;
    border-radius: 15px;
}
.CertificatesItems {
    height: 205px;
    border:solid 5px #FFB9B9;
    border-radius: 15px;
    background-color: #FFB9B9;
}
.ReferencesItems{
    height: 305px;
    border:solid 5px #FFB9B9;
    border-radius: 15px;
    background-color: #FFB9B9;
}
.Skills{
    display: grid;
    grid-template-columns: auto auto;
    grid-row: 10px;
    justify-content:space-around;
    margin-top: 8vw;
    margin-bottom: 8vw;
}
.SkillsItems{
    text-align: center;
    width: 450px;
    background-color: #FFB9B9;
    border-radius: 15px;
}
ul{
    list-style-type:none;
}

.checked {
    color: #FFB9B9;
  }
.language{
    margin: 8vw 10vw;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }

#footer{
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-content: space-around;
    grid-column: auto;
    width: 100%;
    border:solid 5px #FFB9B9;
}
a{
    text-decoration: none;
}
.itemFooter{
    margin-top: 2vw;
}
#footIcon2{
    color: rgb(84, 84, 157);
    font-size:40px;
    border:solid 3px;
     border-radius: 10px;
}
#footIcon1{
    color: rgb(13, 13, 58);
    font-size:40px;
    border:solid 3px;
    border-radius: 10px;
}
#footIcon3{
    color: white;
    font-size:40px;
    border:solid 3px; 
    border-radius: 10px;
}

@media only screen and (min-device-width:481px)and (max-device-width:768px){
    
    h1{
        font-size: larger;
    }
    h2{
        font-size: large;
    }
    h3{
        font-size: small;
    }
    h4 {
        font-size:smaller ;
    }
    h5,i{
        font-size: x-small;
    }
    p{
        font-size: xx-small;
    }
    #textDiv{
        padding-right:30vw ;
        padding-top:22vw ;
    }
    #myPic{
        height:30vw;
        width: 17w; 
    }
    #idBottom{
        width: 90px;
        font-size:x-small;
        right: 25vw;
        bottom: -8vw;}
    
    .SecTitle{
        font-size: 12px;
        font-weight: bold;
    }
    .Objective ,.Projects {
        margin:4vw 25%;
        height:200px;
        background-size: contain;
    }
    #ObjItem , .projectsText{
        width: 50%;
        padding-top: 50px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    #eduImg{
        height:180px;
        width:14vw;
    }
    .eduText{
        position: absolute;
        top:6vw;
        height: 200px;
    }
    .References , .Certificates{
        display: grid;
        grid-template-columns: auto auto ;}
    .CertificatesItems , .ReferencesItems{
        height: 175px;
        margin-top: 5px;
    }
    li , ul{
        font-size: xx-small;
    }
    .container{
        height: 3vw;
        
    }
    .language{
        margin-left: 50px;
    }
    #logoImg{
        width: 80px;
        height: 70px;
    }
    .SkillsItems{
        width: 272px;;
    }
    .ReferencesImage {
        height: 98px;
        width: 187px;}
    #footIcon1{
        font-size:20px;  
    }
    #footIcon2{
        font-size:20px;  
    }
    #footIcon3{
        font-size:20px;  
    }
}
@media only screen and (min-device-width:0)and (max-device-width:480px){
    h1{
        font-size: 15px;
    }
    h2{
        font-size: 13px;
    }
    h3{
        font-size: 12px;
    }
    h4 {
        font-size:11px ;
    }
    h5,i{
        font-size: 9px;
    }
    p{
        font-size: 7px;
    }
    .References , .Certificates{
        display: grid;
        grid-template-columns: auto;
        row-gap: 5px;
    }
    #footer{
        display: grid;
        grid-template-columns: auto;
        row-gap: 5px;
        justify-content: space-around;
    }
    #textDiv{
            padding-right:6px ;
    }
    #qouts{
        right: 5px;
        bottom: 3px;
        color: white;
    }  
    #idBottom{
        width: 70px;
        font-size:7px;
        right: 35vw;
        bottom: -4vw;
    }
    .SecTitle{
        font-size: 12px;
        font-weight: bold;
    } 
    .container{
        height: 6vw; width:280px ;
    }
    #ObjItem , .projectsText{
        width: 64%;
        padding-top:29px;
        padding-left: 0px;
        padding-right: 2px;
        padding-bottom: 0px;
        margin-top: 4vw;
        height: 45vw;
    }
    .Objective ,.Projects {
        height:160px;
        width: 96%;
        background-size: contain;
    }
    .CertificatesItems , .ReferencesItems{
        height: 170px;
    }
    .eduText{
        position: absolute;
        top:6vw;
        height: 100px;
    }
    .Education{
        height: 158px;
    }
    .Experience{
        height: 120px;
    }
    li , ul{
        font-size: 7px;
    }
    .Skills{
        grid-template-columns: auto;
        
    }
    .language{
        margin-left: 10PX;
    }
    #logoImg{
        width: 70px;
        height: 60px;
    }
    .SkillsItems{
        width: 130px;
        margin-bottom: 10px;
    }
    #ExpImg{
        height:21vw;
        width:24vw;
    }
    #footIcon1{
        font-size:20px;  
    }
    #footIcon2{
        font-size:20px;  
    }
    #footIcon3{
        font-size:20px;  
    }
    .ReferencesImage{
        height: 193px;
        width: 305px;
        border-radius: 15px;
    }

}